settings:
  smtp:
    sender_address: notifications@merlinschumacher.de
    host: ""
    port: 587
    username: ""
    password: ""

repositories:
  - gitlab:
      title: "GitLab" 
      url: https://gitlab.com/gitlab-org/gitlab.git
      recipients:
        - "demo@example.com"